@font-face {
    src: url('../fonts/Quicksand-Regular.ttf');
}

@font-face {
    src: url('../fonts/Quicksand-SemiBold.ttf');
}

.root {
    -fx-font-family: 'Quicksand';
    -fx-font-smoothing-type: 'lcd';
    -fx-background-color: #2F2137;
    -fx-font-size: 20;
}

.text-field {
    -fx-font-family: 'Quicksand';
    -fx-font-size: 20;
    -fx-background-color: transparent;
    -fx-padding: 8px 32px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #525252;
    -fx-text-fill: black;
}

.header {
    -fx-font-family: 'Quicksand SemiBold';
    -fx-text-fill: white;
    -fx-font-size: 24;
}

.highlighted {
    -fx-background-color: #0FF9CE;
    -fx-background-radius: 32;
    -fx-text-fill: black;
}

.smallText {
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #0FF9CE;
    -fx-background-radius: 24;
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-padding: 8px 32px;
    -fx-cursor: hand;
    -fx-border-width: 2;
    -fx-border-radius: 24;
    -fx-border-color: #FFFFFF00;
}

.cross {
    -fx-background-color: #8f9190;
    -fx-background-radius: 24;
    -fx-font-size: 16;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-padding: 10px 10px;
}

.button:hover {
    -fx-border-color: white;
}

.button:pressed {
    -fx-background-color: #04bdce;
}

.headerSection {
    -fx-background-color: #231123;
}

#stepContainer {
    -fx-background-color: clear;
    -fx-padding: 0px;
}

.list-cell {
    -fx-background-color: clear;
    -fx-padding: 16 0;
}

.list-cell:pressed, .list-cell:focused, .list-cell:selected {
    -fx-text-fill: black;
}

#searchResults {
    -fx-padding: 16 0 0 0;
    -fx-background-radius: 32;
}

#textFieldContainer {
    -fx-background-color: white;
    -fx-background-radius: 32px;
    -fx-border-radius: 32;
    -fx-border-width: 2;
    -fx-border-color: white;
}

#textFieldContainer:hover {
    -fx-border-color: #0FF9CE;
}

.grayOnHover {
    -fx-background-color: #FFFFFF;
}

.grayOnHover:hover {
    -fx-background-color: #d9d9d9;
}

.smallCorner {
    -fx-padding: 0 10;
    -fx-background-radius: 10;
}

.tripResultsHeader {
    -fx-background-color: #231123;
    -fx-background-radius: 30 30 0 0;
}

.headerTitles {
    -fx-text-fill: white;
}

#tripProposalList {
    -fx-background-radius: 32;
}

.tripResults {
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 32;
}

.summary {
    -fx-background-color: white;
    -fx-background-radius: 32;
}

#detailsTitle {
    -fx-font-family: 'Quicksand SemiBold';
    -fx-font-smoothing-type: 'gray';
    -fx-font-size: 24;
    -fx-text-fill: black;
}

.station {
    -fx-text-fill: #525252;
    -fx-font-size: 18;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}